<!doctype html>
<html ng-app>
<head>
<title>PHP MySQL API Consumed with AngularJS</title>
<script type="text/javascript" src="angular.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>-->
<script src="./data.js"></script>
    	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div id="main">
<div ng-controller="GetCat" >

<table>
<thead><tr>

    <th><a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
          Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th><a href="#" ng-click="orderByField='quantity'; reverseSort = !reverseSort">
          Quantity <span ng-show="orderByField == 'quantity'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    </tr></thead>
<tbody>
<tr ng-repeat="sale in sales| orderBy:orderByField:reverseSort" >
    <td>{{ sale.name }}</td>
    <td>{{sale.quantity}}</td></tr>
</tbody>

</table>

</div>
        </div>
</body>


</html>
